<!-- ===== FOOTER ===== -->
<footer class="footer">
    <div class="custom-footer container">
        <div class=" row">
            <div class="custom-footer-column">
                <h6 href="" class="footer-heads custom-link">Buy</h6>
                <p><a href="" class="custom-link">Registration</a></p>
                <p><a href="" class="custom-link">eBay Money Back Guarantee</a></p>
                <p><a href="" class="custom-link">Bidding & buying help</a></p>
                <p><a href="" class="custom-link">Stores</a></p>
            </div>
            <div class="custom-footer-column">
                <div>
                    <h6 href="" onclick="fetchCategory(17)" class="footer-heads link">Sell</h6>
                    <p><a href="" onclick="fetchCategory(17)" class="link">Start selling</a></p>
                    <p><a href="" class="custom-link">Learn to sell</a></p>
                    <p><a href="" class="custom-link">Affiliates</a></p>
                </div>
                <div>
                    <h6 href="" class="footer-heads custom-link">Tools & apps</h6>
                    <p><a href="" class="custom-link">Developers</a></p>
                    <p><a href="" class="custom-link">Security center</a></p>
                    <p><a href="" class="custom-link">Site map</a></p>
                </div>
            </div>
            <div class="custom-footer-column">
                <h6 href="" class="footer-heads custom-link">Stay connected</h6>
                <p><a href="" class="custom-link">eBay's Blogs</a></p>
                <p><a href="" class="custom-link">Facebook</a></p>
                <p><a href="" class="custom-link">Twitter</a></p>
            </div>
            <div class="custom-footer-column">
                <h6 href="" class="footer-heads custom-link">About eBay</h6>
                <p><a href="" class="custom-link">Company info</a></p>
                <p><a href="" class="custom-link">News</a></p>
                <p><a href="" class="custom-link">Investors</a></p>
                <p><a href="" class="custom-link">Careers</a></p>
                <p><a href="" class="custom-link">Government relations</a></p>
                <p><a href="" class="custom-link">Advertise with us</a></p>
                <p><a href="" class="custom-link">Policies</a></p>
                <p><a href="" class="custom-link">Verified Rights Owner (VeRO) Program</a></p>
            </div>
            <div class="custom-footer-column">
                <div>
                    <h6 href="" class="footer-heads custom-link">Help & Contact</h6>
                    <p><a href="" class="custom-link">Seller Information Center</a></p>
                    <p><a href="" class="custom-link">Contact us</a></p>
                </div>
                <div>
                    <h6 href="" class="footer-heads custom-link">Community</h6>
                    <p><a href="" class="custom-link">Announcements</a></p>
                    <p><a href="" class="custom-link">Discussion boards</a></p>
                    <p><a href="" class="custom-link">eBay Giving Works</a></p>
                </div>
                <div>
                    <h6 class="footer-heads custom-link ">eBay Sites</h6>

                    <div class="" onmouseover="languages('countryDropdown', true)" onmouseout="languages('countryDropdown', false)">
                        <button type="button" class="btn">Language..</button>
                        <div class="language-container" id="countryDropdown">
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</footer>
